<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<div id='footer'>
    <div id='footer_main'>
        <div class="links">
            <a class='dark' th:href="@{/rss}">RSS</a>
            |
            <a th:href="@{'/swagger-ui.html'}" target="_blank">API</a>
            |
            <a class='dark' th:href="@{'https://github.com/tzq668766/tblog/tree/'+${gitBranch}+'/'}">源码地址</a>
            | 本次构建于：
            <a th:href="@{'https://github.com/tzq668766/tblog/commit/'+${gitCommitId}}" target="_blank" th:text="${gitTagName}+'-'+${gitBuildTime}" th:title="${gitCommitMessage}">Git版本-构建时间</a>
        </div>

        <div class='col_fade'>
            <p>TBlog使用Java技术，结合流行框架开发个人博客系统。</p>
            <p>如果感觉系统比错，请不要吝啬您的星星，只需要轻轻的戳一下，谢谢！ <a href='https://github.com/${fns:getConfig("git.build.user.name")}'>个人博客(https://www.xxoo.com/)</a></p>
        </div>
    </div>
</div>
<!-- scripts -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/assets/js/editormd/editormd.min.js}"></script>
<!--回到顶部开始-->
<script>
    $(document).ready(function () {
        $.scrollUp({
            scrollName: 'scrollUp',
            topDistance: '100',
            topSpeed: 300,
            animation: 'fade',
            animationInSpeed: 200,
            animationOutSpeed: 200,
            scrollText: '',
            activeOverlay: false
        });
    });
</script>
<a id="scrollUp" href="#top" title="" style="position: fixed; z-index: 222222222222; display: none;"></a>
<!--回到顶部结束-->
</body>
</html>