<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/header::header(${article.topic.title},null)"></div>
<body>
<div class='container main'>
    <div class='col-md-9' id="content">
        <ul class='breadcrumb'>
            <li><a th:href="@{'/'}"><i class="glyphicon glyphicon-home"></i>主页</a><span class='divider'></span></li>
            <li><a th:href="@{'/?tab='+${article.topic.category.catDir}}" th:text="${article.topic.category.catName}"></a><span class='divider'></span></li>
        </ul>
        <div class='panel'>
            <div class='header topic-header'>
                <h1 class="topic-full-title" th:text="${article.topic.title}"></h1>
                <div class="changes">
                    <span th:text="${article.topic.friendlyTime}"></span><span>&nbsp;&nbsp;作者：<a th:href="@{'/pub/user/'+${article.topic.author.id}}" th:text="${article.topic.author.username}"></a></span><span th:text="'&nbsp;&nbsp;'+${article.topic.visitCount}+'次浏览'"></span>
                    <span class="share pull-right">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1522069935713"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};(document.getElementsByTagName('head')[0]||body).appendChild(document.createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);</script>
                    </span>
                </div>
            </div>
            <div class='inner topic'>
                <div class="topic_content">
                    <div class="editormd-preview-container" th:utext="${article.topic.contentHTML}">内容区域</div>
                </div>
                <div class="topic-tags">
                    <span>标签：</span>
                    <th:block th:if="${article.topic.tags!=null}">
                        <th:block th:each="tag:${article.topic.tags}">
                            <a th:href="@{'/tag/'+${tag}}" th:text="${tag}" class="tag"></a>
                        </th:block>
                    </th:block>
                </div>
                <div class="topic-action-wrapper">
                    <div class="topic-actions">
                        <th:block th:if="${article.topic.likedUsers!=null} and ${session.loginUser!=null} and ${#lists.contains(article.topic.likedUsers,session.loginUser.id)}">
                            <a th:href="@{'/like/remove/'+${article.topic.id}}" class="action-link">
                                <img th:src="@{'/assets/images/ico/liked-lg.svg'}" alt=""/>
                                <span>取消喜欢</span>
                            </a>
                        </th:block>
                        <th:block th:if="${article.topic.likedUsers==null} or ${session.loginUser==null} or ${!#lists.contains(article.topic.likedUsers,session.loginUser.id)}">
                            <a th:href="@{'/like/add/'+${article.topic.id}}" class="action-link">
                                <img th:src="@{'/assets/images/ico/like-lg.svg'}" alt=""/>
                                <span>喜欢</span>
                            </a>
                        </th:block>
                        <a href="#reply" class="action-link">
                            <img th:src="@{'/assets/images/ico/comment-lg.svg'}" alt=""/>
                            <span>评论</span>
                        </a>
                        <th:block th:if="${article.topic.collectedUsers!=null} and ${session.loginUser!=null} and ${#lists.contains(article.topic.collectedUsers,session.loginUser.id)}">
                            <a id="collectLink" th:href="@{'/collect/remove/'+${article.topic.id}}" class="action-link" title="取消收藏">
                                <img th:src="@{'/assets/images/ico/collected.svg'}" alt=""/>
                            </a>
                        </th:block>
                        <th:block th:if="${article.topic.collectedUsers==null} or ${session.loginUser==null} or ${!#lists.contains(article.topic.collectedUsers,session.loginUser.id)}">
                            <a id="collectLink" th:href="@{'/collect/add/'+${article.topic.id}}" class="action-link" title="收藏">
                                <img th:src="@{'/assets/images/ico/collect-lg.svg'}" alt=""/>
                            </a>
                        </th:block>
                        <a href="javascript:;" class="action-link">
                            <img th:src="@{'/assets/images/ico/share-lg.svg'}" alt=""/>
                            <span>分享</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--comment start-->
        <div class="row comment-wrapper">
            <h3 class="header" th:text="${#lists.size(commentList)}+' 条评论'"></h3>
            <div th:if="${!#lists.isEmpty(commentList)}" th:each="comment,status:${commentList}" class="comment" th:id="${comment.id}">
                <a class="avatar" href="#" target="_blank">
                    <img th:src="@{${comment.author.avatarURL}}" th:title="${comment.author.username}" th:alt="${comment.author.username}">
                </a>
                <div class="content">
                    <a class="author" href="#" target="_blank" th:text="${comment.author.username}">评论用户名</a>
                    <div class="metadata">
                        <span class="date" th:text="${comment.friendlyTime}">评论时间</span>
                    </div>
                    <div class="text">
                        <th:block th:if="${comment.parentComment!=null}">
                            <div th:include="inc/comment-parent::parent" th:with="parentComment=${comment.parentComment}"></div>
                        </th:block>
                        <th:block th:utext="${comment.commentHTML}">评论内容</th:block>
                    </div>
                    <div class="operations">
                        <a class="like" th:href="@{'/article/'+${article.topic.id}+'/comment/thumbsup/'+${comment.id}}">
                            <i class="fa fa-thumbs-up"></i> <span th:text="${comment.thumbsUPCount}">0</span> 赞
                        </a>
                        <a class="reply btn-reply-to" th:if="${session.loginUser!=null}" th:attr="reply-to-id=${comment.id},reply-to-username=${comment.author.username}">
                            <i class="fa fa-comments"></i> 回复
                        </a>
                        <a class="remove" th:if="${session.loginUser!=null and session.loginUser.id==comment.author.id}" th:href="@{'/article/'+${article.topic.id}+'/comment/del/'+${comment.id}}">
                            <i class="fa fa-trash"></i> 删除
                        </a>
                        <a class="ban" th:href="@{'/article/'+${article.topic.id}+'/comment/ban/'+${comment.id}}">
                            <i class="fa fa-ban"></i> 举报
                        </a>
                    </div>
                    <div class="reply-box" th:id="${'replyBox'+comment.id}"></div>
                </div>
            </div>
        </div>
        <div id="comment-form" class="row comment-form">
            <div th:if="${session.loginUser==null}" class="alert alert-danger alert-dismissible text-center" role="alert">
                <strong>登录了才能评论，请先 <a th:href="@{/login?forward=true}">登录</a></strong>
            </div>
            <th:block th:if="${session.loginUser!=null}">
                <div th:replace="inc/msgbox::msgBox(${messageErr},${messageSuc})"></div>
                <form th:action="@{/article/comment/add/}" method="post" class="form-vertical" id="reply-form" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label>评论</label>
                            <div id="add-comment">
                                <textarea style="display: none;" id="add-comment-markdown"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <input type="hidden" name="itemId" th:value="${article.topic.id}"/>
                            <input type="hidden" name="authorId" th:if="${session.loginUser!=null}" th:value="${session.loginUser.id}"/>
                            <img id="vCodeImage" th:src="@{'/validateCode'}" onclick="javascript:reloadCommentVCode();" autocomplete="off"/>
                            <input type="text" name="vcode" id="vCodeInput" readonly="true" class="form-control" style="display:inline-block;width:120px;margin-right:6px;"/>
                            <input type="submit" class="btn btn-success pull-right" value="发表评论" id="commentSubmit"/>
                        </div>
                    </fieldset>
                </form>
            </th:block>
        </div>
        <!--comment end-->
    </div>

    <div th:replace="inc/sidebar::sidebar"></div>
</div>
<div th:replace="inc/footer::footer"></div>
<script th:src="@{'/assets/js/editormd/lib/prettify.min.js'}"></script>
<script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
<script id="reply-tpl" type="text/x-handlebars-template">
    <form action="{{replyAction}}" method="post" class="form-vertical" id="reply-to-form" role="form">
        <div class="form-group">
            <div id="reply-content">
                <textarea style="display: none;" id="reply-to-markdown"></textarea>
            </div>
        </div>
        <div class="row text-right">
            <input type="hidden" name="commentId" id="commentId" value="{{commentId}}"/>
            <input type="hidden" name="topicID" value="{{topicID}}"/>
            <button type="button" class="btn btn-link pull-left" id="btnCancelReply">取消回复</button>
            <button type="submit" class="btn btn-success" id="btnReplyTo">回复</button>
        </div>
    </form>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var editor, editor_edit;

    $(document).ready(function(){

        if([[${session.loginUser!=null}]]){
            $('.btn-reply-to').bind("click",function(){
                //清空所有回复表单
                $('.reply-box').html("");
                var replyToID=$(this).attr('reply-to-id');
                var replyToUsername=$(this).attr('reply-to-username');
                var data={
                    replyAction:[[@{/article/comment/replyTo}]],
                    commentId:replyToID,
                    topicID:[[${article.topic.id}]]
            }

                var template = Handlebars.compile($('#reply-tpl').html());
                var replyFormHtml=template(data);
                $('#replyBox'+replyToID).html(replyFormHtml);
                createEditorMd("reply-content",null, "#btnReplyTo",null,"回复@"+replyToUsername);

                $('#btnCancelReply').bind("click",function(){
                    $('.reply-box').html("");
                });
            });
        }


        $('#commentSubmit').attr('disabled', true);

        editor = createEditorMd("add-comment","#vCodeInput", "#commentSubmit",[[${commentMD}]],null);

        $('.editormd-preview-container pre').addClass("prettyprint linenums");
        prettyPrint();


        $('#actionBox').stickUp({topMargin:'60px'});


    });

    /**
     * 创建Markdown编辑器封装方法
     * @param divId
     * @param submitId
     * @param markdown
     * @returns {*}
     */
    function createEditorMd(divId,vCodeInputId, submitId, markdown,placeholder) {
        var editor = editormd(divId, {
            height           : 300,
            markdown         : markdown,
            tex              : true,
            tocm             : true,
            emoji            : true,
            taskList         : true,
            codeFold         : true,
            searchReplace    : true,
            htmlDecode       : "style,script,iframe",
            flowChart        : true,
            sequenceDiagram  : true,
            autoFocus: false,
            path: [[@{/assets/js/editormd/lib/}]],
        placeholder:placeholder==null?"不要吝啬您的评论，您的一言将帮助千万网友":placeholder,
            saveHTMLToTextarea: true,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png"],
            imageUploadURL:[[@{/upload/image}]],
        toolbarIcons: function() {
            return ["undo", "redo", "|", "bold", "italic", "quote", "|",
                "h1", "h2", "h3", "h4", "h5", "h6", "|",
                "list-ul", "list-ol", "hr", "|",
                "link", "reference-link", "code-block", "|",
                "goto-line", "watch", "preview", "fullscreen"]
        },
        onfullscreen : function() {
            this.editor.css("border-radius", 0).css("z-index", 120);
        },
        onfullscreenExit : function() {
            this.editor.css({
                zIndex : 10,
                border : "none",
                "border-radius" : "5px"
            });

            this.resize();
        },
        onchange: function() {
            $(submitId).attr('disabled', this.getMarkdown().trim() == "");
            if(null!=vCodeInputId){
                $(vCodeInputId).attr('readonly', this.getMarkdown().trim() == "");
            }
        }
    });

        return editor;
    }


    function reloadCommentVCode() {
        $("#vCodeImage").attr("src", [[@{'/validateCode'}]]+"?d=" + new Date().getMilliseconds());
    }

    /*]]>*/
</script>
</body>
</html>
