<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/header::header(${article.topic.title},null)"></div>
<body>
<div class='container main'>
    <div class='col-md-9' id="content">
        <ul class='breadcrumb'>
            <li><a th:href="@{'/'}"><i class="glyphicon glyphicon-home"></i>主页</a><span class='divider'></span></li>
            <li><a th:href="@{'/?tab='+${article.topic.catDir}}" th:text="${article.topic.catName}"></a><span class='divider'></span></li>
        </ul>
        <div class='panel'>
            <div class='header topic-header'>
                <h1 class="topic-full-title" th:text="${article.topic.title}"></h1>
                <div class="changes">
                    <span th:text="${article.topic.friendlyTime}"></span><span>&nbsp;&nbsp;作者：<a th:href="@{'/pub/user/'+${article.topic.authorId}}" th:text="${article.topic.authorName}"></a></span><span th:text="'&nbsp;&nbsp;'+${article.topic.visitCount}+'次浏览'"></span>
                    <span class="share pull-right">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1522069935713"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};(document.getElementsByTagName('head')[0]||body).appendChild(document.createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);</script>
                    </span>
                </div>
            </div>
            <div class='inner topic'>
                <div class="topic_content">
                    <div class="editormd-preview-container" th:utext="${article.topic.contentHTML}">内容区域</div>
                </div>
                <div class="topic-tags">
                    <span>标签：</span>
                    <th:block th:if="${article.topic.tags!=null}">
                        <th:block th:each="tag:${article.topic.tags}">
                            <a th:href="@{'/tag/'+${tag}}" th:text="${tag}" class="tag"></a>
                        </th:block>
                    </th:block>
                </div>
                <div class="topic-action-wrapper">
                    <div class="topic-actions">
                        <th:block th:if="${article.topic.likedUsers!=null} and ${session.loginUser!=null} and ${#lists.contains(article.topic.likedUsers,session.loginUser.id)}">
                            <a th:href="@{'/like/remove/'+${article.topic.id}}" class="action-link">
                                <img th:src="@{'/assets/images/ico/liked-lg.svg'}" alt=""/>
                                <span>取消喜欢</span>
                            </a>
                        </th:block>
                        <th:block th:if="${article.topic.likedUsers==null} or ${session.loginUser==null} or ${!#lists.contains(article.topic.likedUsers,session.loginUser.id)}">
                            <a th:href="@{'/like/add/'+${article.topic.id}}" class="action-link">
                                <img th:src="@{'/assets/images/ico/like-lg.svg'}" alt=""/>
                                <span>喜欢</span>
                            </a>
                        </th:block>
                        <a href="#reply" class="action-link">
                            <img th:src="@{'/assets/images/ico/comment-lg.svg'}" alt=""/>
                            <span>评论</span>
                        </a>
                        <th:block th:if="${article.topic.collectedUsers!=null} and ${session.loginUser!=null} and ${#lists.contains(article.topic.collectedUsers,session.loginUser.id)}">
                            <a id="collectLink" th:href="@{'/collect/remove/'+${article.topic.id}}" class="action-link" title="取消收藏">
                                <img th:src="@{'/assets/images/ico/collected.svg'}" alt=""/>
                            </a>
                        </th:block>
                        <th:block th:if="${article.topic.collectedUsers==null} or ${session.loginUser==null} or ${!#lists.contains(article.topic.collectedUsers,session.loginUser.id)}">
                            <a id="collectLink" th:href="@{'/collect/add/'+${article.topic.id}}" class="action-link" title="收藏">
                                <img th:src="@{'/assets/images/ico/collect-lg.svg'}" alt=""/>
                            </a>
                        </th:block>
                        <a href="javascript:;" class="action-link">
                            <img th:src="@{'/assets/images/ico/share-lg.svg'}" alt=""/>
                            <span>分享</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${!#lists.isEmpty(article.replyList)}">
            <div class="panel" id="comment">
                <div class="header">
                    <span class="col_fade" th:text="${article.topic.replyCount}+' 回复'"></span>
                </div>
                <th:block th:each="reply,status:${article.replyList}">
                    <div class="cell reply_area reply_item editormd-preview-container" reply_to_id="" th:id="${reply.id}">
                        <div class="author_content">
                            <a th:href="@{'/pub/user/'+${reply.authorInfo.authorId}}" class="user_avatar">
                                <img th:src="@{${reply.authorInfo.authorAvatar}}" th:title="${reply.authorInfo.authorName}"/></a>
                            <div class="user_info">
                                <a class="dark reply_author" th:href="@{'/pub/user/'+${reply.authorInfo.authorId}}" th:text="${reply.authorInfo.authorName}"></a>
                                <a class="reply_time" th:href="@{'#'+${reply.id}}" th:text="${status.index+1}+'楼•'+${reply.friendlyTime}"></a>
                            </div>
                            <div class="user_action">
                              <span>
                                <i class="fa up_btn fa-thumbs-o-up invisible" title="喜欢" th:text="${reply.thumbsUPCount &gt; 0}?${reply.thumbsUPCount}:''">
                                </i>
                                <span class="up-count"></span>
                              </span>
                                <span></span>
                                <th:block th:if="${session.loginUser!=null} and ${session.loginUser.id==reply.authorInfo.authorId}">
                                    <a href="javascript:;" class="edit-reply" th:attr="reply-id=${reply.id}"  title="编辑"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a th:href="@{'/article/'+${article.topic.id}+'/reply/'+${reply.id}+'/del/'}" title="删除"><i class="glyphicon glyphicon-remove-circle"></i></a>
                                </th:block>
                            </div>
                        </div>
                        <div th:classappend="'from-'+${reply.authorInfo.authorId}" class="reply_content">
                            <div class="markdown-text"><p th:utext="${reply.contentHTML}">回复内容</p></div>
                        </div>
                        <div class="clearfix">
                            <div class="reply2_area"></div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>

        <th:block th:if="${session.loginUser!=null}">
            <div th:replace="inc/msgbox::msgBox(${messageErr},${messageSuc})"></div>
            <div id="reply">
                <form th:action="@{'/reply/add/'+${article.topic.id}}" method="post" class="form-vertical" id="reply-form" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label>新回复</label>
                            <div id="editormd">
                                <textarea class="editormd-markdown-textarea" name="contentMD" id="contentMD"></textarea>
                                <textarea class="editormd-html-textarea" name="contentHTML" id="contentHTML"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="topicId" th:value="${article.topic.id}"/>
                        <input type="hidden" name="authorId" th:value="${session.loginUser.id}"/>
                        <input type="hidden" name="authorName" th:value="${session.loginUser.username}"/>
                        <input type="hidden" name="authorAvatar" th:value="${session.loginUser.avatarURL}"/>
                        <input type="submit" class="btn btn-primary" value="回复" id="submit"/>
                    </fieldset>
                </form>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">编辑评论</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" class="form-vertical" id="edit-comment-form" role="form">
                                <div class="form-group">
                                    <div id="editormd-edit">
                                        <textarea style="display: none;" id="comment-markdown"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info" id="edit-submit">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${session.loginUser==null}">
            <div class="content" style="padding: 2em;">
                需要 <a th:href="@{'/login'}" class="btn btn-primary">登录</a> 后方可回复, 如果你还没有账号你可以 <a th:href="@{'/register'}" class="btn btn-danger">注册</a> 一个帐号。
            </div>
        </th:block>
    </div>

    <div th:replace="inc/sidebar::sidebar"></div>
</div>
<div th:replace="inc/footer::footer"></div>
<script th:src="@{'/assets/js/editormd/lib/prettify.min.js'}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var editor, editor_edit;

    $(document).ready(function(){

        $('.edit-reply').click(function(){
            var replyId = $(this).attr('reply-id');
            $.getJSON([[@{'/article/reply/'}]] + replyId + ".json", function (data) {
                $('#edit-comment-form').attr('action',[[@{'/'}]]+ '/article/'+[[${article.topic.id}]]+'/reply/' + replyId + '/edit');
                $('#myModal').on('shown.bs.modal', function (e) {
                    if (editor_edit) {
                        editor_edit.setMarkdown(data.contentMD);
                    } else {
                        editor_edit = createEditorMd("editormd-edit", "#edit-submit", data.contentMD);
                    }
                });
                $('#myModal').modal({});
            });
        });

        $('#submit').attr('disabled', true);

        editor = createEditorMd("editormd", "#submit");

        $('.editormd-preview-container pre').addClass("prettyprint linenums");
        prettyPrint();


    });

    /**
     * 创建Markdown编辑器封装方法
     * @param divId
     * @param submitId
     * @param markdown
     * @returns {*}
     */
    function createEditorMd(divId, submitId, markdown) {
        var editor = editormd(divId, {
            height           : 300,
            markdown         : markdown,
            tex              : true,
            tocm             : true,
            emoji            : true,
            taskList         : true,
            codeFold         : true,
            searchReplace    : true,
            htmlDecode       : "style,script,iframe",
            flowChart        : true,
            sequenceDiagram  : true,
            autoFocus: false,
            path: [[@{'/'}]]+"/assets/js/editormd/lib/",
            placeholder: "Markdown，提交前请查看预览格式是否正确",
            saveHTMLToTextarea: true,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png"],
            imageUploadURL: "[[@{/}]]/upload/image",
            toolbarIcons: function() {
                return ["undo", "redo", "|", "bold", "italic", "quote", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text", "code-block", "|",
                    "goto-line", "watch", "preview", "fullscreen", "|",
                    "help", "info"]
            },
            onfullscreen : function() {
                this.editor.css("border-radius", 0).css("z-index", 120);
            },
            onfullscreenExit : function() {
                this.editor.css({
                    zIndex : 10,
                    border : "none",
                    "border-radius" : "5px"
                });

                this.resize();
            },
            onchange: function() {
                $(submitId).attr('disabled', this.getMarkdown().trim() == "");
            }
        });

        return editor;
    }

    /*]]>*/
</script>
</body>
</html>
