<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="userSideBar(activeTab)">
<body>
<div class="list-group">
    <div class="list-group-item">
        <div class="pull-left avatar">
            <img th:if="${session.loginUser.avatarURLByUploaded}" class="img-circle" th:src="@{'/upload/getImage/'+${session.loginUser.avatarURL}}"/>
            <img th:if="${!session.loginUser.avatarURLByUploaded}" class="img-circle" th:src="@{${session.loginUser.avatarURL}}"/>
        </div>
        <div class="pull-left info">
            <h4 style="margin-bottom: 0px;" th:text="${session.loginUser.username}"></h4>
            <p><a  th:href="'mailto:'+${session.loginUser.email}" th:text="${session.loginUser.email}"></a></p>
        </div>
        <div class="clearfix"></div>
    </div>
    <a th:href="@{'/user/info/'+${session.loginUser.username}}" th:classappend="${'userinfo'==activeTab}?'active':''" class='list-group-item heading'>个人资料</a>
    <a th:href="@{'/user/changePwd'}" th:classappend="${'changepwd'==activeTab}?'active':''"  class='list-group-item'>修改密码</a>
    <a th:href="@{'/user/changeAvatar'}"  th:classappend="${'changeavatar'==activeTab}?'active':''"  class='list-group-item'>修改头像</a>
    <div class="list-group-item">&nbsp;</div>
</div>
</body>
</html>