<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>500（服务器出差错了）- My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favico.png}"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/assets/js/editormd/css/editormd.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/site.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row text-center">
        <h1>500</h1>
        <h2 class="font-light">服务器出了点差错.</h2><br></br>
        <a class="btn btn-link" th:href="@{'/'}"><i class="fa fa-angle-left"></i> 返回首页</a>
    </div>
</div>

</body>
</html>