<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="inc/header::header('修改栏目信息',null)"></div>
<body>
<div class='container main'>
    <div th:replace="inc/sidebar::sidebar"></div>
    <div class='col-md-9'>
        <ul class='breadcrumb'>
            <li><a th:href="@{'/'}">主页</a><span class='divider'></span></li>
            <li><a th:href="@{'/cat/list'}">管理栏目</a><span class='divider'></span></li>
            <li class='active'>栏目修改</li>
        </ul>
        <div class='panel'>
            <div class='inner'>
                <div class="topic_content">
                    <div class="markdown-text">
                        <h3>修改栏目</h3>
                        <div class="row">
                            <div th:replace="inc/msgbox::msgBox(${messageErr},${messageSuc})"></div>
                            <form method="post" th:action="@{'/cat/edit/'+${cat.id}}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">栏目名称:</div>
                                        <input type="text" class="form-control" name="catName" th:value="${cat.catName}" placeholder=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">目录名称（小写英文字母）:</div>
                                        <input type="text" class="form-control" name="catDir" th:value="${cat.catDir}" placeholder="" readonly="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">目录简介:</div>
                                        <textarea name="catDesc" class="form-control" rows="4" placeholder="请输入栏目简介，方便SEO优化" th:text="${cat.catDesc}"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <input type="hidden" name="id" th:value="${cat.id}"/>
                                        <button class="btn btn-success" type="submit">更新</button>
                                        <button class="btn btn-default" type="reset">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="inc/footer::footer"></div>
</body>
</html>