<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{inc/header::header('登陆页面',null)}"></div>
<body>
<div class='container main'>
    <div class='col-md-9'>
        <ul class='breadcrumb'>
            <li><a th:href="@{'/'}">主页</a><span class='divider'></span></li>
            <li class='active'>登录</li>
        </ul>
        <div class="row wrapper">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div th:replace="~{inc/msgbox::msgBox(${messageErr},${messageSuc})}"></div>
                <form th:action="@{'/login'}" th:object="${loginForm}" method="post">
                        <h3 class="form-signin-header text-center">登录TBlog</h3>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">用户名:</div>
                                <input type="text"  name="username" th:value="${loginForm.username}" class="form-control"/>
                            </div>
                            <span th:errors="${loginForm.username}" th:class="error"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码:</div>
                                <input name="password" type="password" th:value="${loginForm.password}" class="form-control"/>
                            </div>
                            <span th:errors="${loginForm.password}" th:class="error"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">验证码:</div>
                                <input type="text" name="validateCode" th:value="${loginForm.validateCode}" class="form-control" style="display:inline-block;width:120px;margin-right:13px;" id="validateCode" />
                                <img id="validateCodeImg" th:src="@{'/captcha/validateCode'}"/>&nbsp;&nbsp;<a href="#" onclick="javascript:reloadValidateCode();">看不清？</a>
                            </div>
                            <span th:errors="${loginForm.validateCode}" th:class="error"></span>
                        </div>
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success" type="submit">登录</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-default" type="reset">重置</button>
                            </div>
                        </div>
                        <br/>
                        <p>没有账户？点击<a th:href="@{'/register'}">注册</a></p>
                    </form>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>

    </div>
    <div th:replace="~{inc/sidebar::sidebar}"></div>
</div>
<div th:replace="~{inc/footer::footer}"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
        function reloadValidateCode() {
            $("#validateCodeImg").attr("src",[[@{'/captcha/validateCode'}]]+ "?data=" + new Date() + Math.floor(Math.random() * 24));
        }
    /*]]>*/
</script>
</body>
</html>